* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 65.5%;
}
.head-intro {
  min-height: 100vh;
  background: linear-gradient(
      97.64deg,
      rgba(0, 177, 168, 1) 5.63%,
      rgba(0, 122, 175, 0.8) 96.95%
    ),
    url(/images/pexels-artem-podrez-5726799.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.head-intro::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: url(/images/wave-large.png);
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}

/*nav*/
nav {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  border-bottom: 0.02rem solid rgba(255, 255, 255, 0.6);
}
#logo {
  height: 4rem;
  margin-right: 0.5rem;
}
.logo {
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
  cursor: pointer;
}
.logo h1 {
  color: #fff;
  font-size: 2rem;
}
.logo h1 span {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  padding: 0.08rem 0.6rem;
  color: #00afa5;
  margin-left: 0.5rem;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul li {
  padding-left: 8rem;
  font-size: 1.8rem;
  text-transform: uppercase;
}
nav ul li a:hover {
  color: rgb(214, 214, 214);
}
/*intro */

.intro {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25rem;
}
.intro h2 {
  font-size: 5.5rem;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
.intro h3 {
  font-size: 2.3rem;
  font-weight: lighter;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  margin-bottom: 3rem;
}
.intro button {
  background-color: transparent;
  color: #fff;
  border: #fff solid 0.2rem;
  padding: 2rem 8rem;
  border-radius: 50px;
  font-size: 1.5rem;
}
.intro button:hover {
  background: #fff;
  color: rgba(0, 177, 168, 0.8);
}
/*about us*/

.about {
  width: 80%;
  margin: auto;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.text-about {
  flex: 1 1 40rem;
}
.text-about h2 {
  text-transform: uppercase;
  font-size: 8rem;
  color: rgb(22, 22, 22);
}
.text-about p {
  font-size: 2rem;
  color: rgb(22, 22, 22);
}
.text-about button {
  background-color: transparent;
  padding: 1rem 4rem;
  margin-top: 2.6rem;
  color: rgb(22, 22, 22);
  font-size: 2.5rem;
  border: 0.2rem solid rgb(22, 22, 22);
  border-radius: 50px;
}
.text-about button:hover {
  color: white;
  background-color: #00afa5;
  border: 0.2rem solid #00afa5;
}
.about .about-image {
  width: 550px;
  flex: 1 1 40rem;
}

/* contact */

.contact {
  background: linear-gradient(
      97.64deg,
      rgba(0, 177, 168, 1) 5.63%,
      rgba(0, 122, 175, 0.8) 96.95%
    ),
    url(/images/pexels-artem-podrez-5726799.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20rem 0rem;
  position: relative;
}
.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: url(/images/wave-large-reversed.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-form h2 {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  font-size: 5rem;
  margin-bottom: 0.5rem;
}
.contact-form p {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  font-size: 2rem;
  margin-bottom: 2rem;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
form input {
  margin-bottom: 2rem;
  padding: 1rem 5rem;
  font-size: 2rem;
}
form label {
  font-size: 1.5rem;
}
form textarea {
  padding: 1rem 4.5rem;
  font-size: 2rem;
}
form button {
  margin-top: 3rem;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 1.5rem 14rem;
  border-radius: 50px;
}
form button:hover {
  background-color: white;
  color: rgba(0, 177, 168, 0.8);
  font-size: 1.8rem;
}
